/************************TAG SELECTORS************************/
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #FF4C68;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8F8F8F;
}

/************************CLASS SELECTORS************************/
.cardheading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.chihuahuacardheader {
  font-weight: normal;
  padding: 1rem 0;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.coloredsection {
  background-color: #FF4C68;
  color: #FFF;
}

.copyright {
  padding: 1% 0;
}

.ctatext {
  font-size: 4rem;
  font-weight: 900;
  padding: 5% 10%;
}

.downloadbutton {
  margin: 5% 3% 5% 0;
}

.carousel-item {
  padding: 7% 15%;
}

.featuresbox {
  display: flex;
  flex-direction: column;
  padding: 5% 2.5%;
  row-gap: 1rem;
}

.featuresicon {
  color: #EF8172;
}

.featuresicon:hover {
  color: #FF4C68;
}

.featurestext {
  font-size: 1.5rem;
  font-weight: bold;
}

.labradorcardheader {
  padding: 1rem 0;
  font-weight: normal;
}

.mastiffcardheader {
  background-color: #FF4C68;
  border-color: #FF4C68;
  color: #FFF;
  font-weight: normal;
  padding: 1rem 0;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-nav {
  float: right;
}

.presslogo {
  margin: 20px 20px 50px;
  width: 15%
}

.pricingcolumn {
  padding: 5% 3%;
}

.pricingsectionheading {
  display: flex;
  flex-direction: column;
}

.socialicon {
  padding: 20px 10px;
}

.testimonialsimage {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonialstext {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.titleimage {
  position: absolute;
  right: 25%;
  transform: rotate(25deg);
  width: 18%;
}

.titletext {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.whitesection {
  background-color: #FFF;
}

/************************ID SELECTORS************************/
#title {
  text-align: left;
}

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

#footer {
  padding: 7% 15%;
}

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#testimonials {
  background-color: #EF8172;
}

/************************MEDIA QUERIES************************/

@media (max-width: 1028px) {
  .titleimage {
    position: static;
    transform: rotate(0);
    width: 40%;
  }

  #title {
    text-align: center;
  }
}
